body {
  background-color: lightseagreen;
  line-height: 2.5;
  padding-left: 100%;
  padding-right: 100%;
}
#submit > input {
  background-color: lightskyblue;
}
p {
  display: flex;
}
h1 {
  text-align: center;
}
